<?xml version="1.0" encoding="UTF-8"?>

<servlet>
	<servlet-name>InitBeanFactoryServlet</servlet-name>
	<servlet-class>cn.com.leadfar.cms.backend.view.InitBeanFactoryServlet</servlet-class>
	<init-param>
		<param-name>configLocation</param-name>
		<param-value>beans.properties</param-value>
	</init-param>
	<load-on-startup>0</load-on-startup>
</servlet>